/*extend*/
ul, .footer-container-flex, .sucursale-main-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* variables*/
/* Estilos Header */
.logotipo {
  width: 3rem;
  height: 5rem;
}

.navbar {
  background-color: rgb(0, 0, 0) !important;
}

.collapse {
  background-color: rgba(0, 0, 0, 0.9);
  margin-top: 0%;
  padding: 0.5rem;
}

.motos-header, .index-header, .index-header-faqs, .sucursales-header {
  background-image: url(../img/background2.jpeg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  object-position: center;
  height: 90vh;
  position: relative;
}

.index-header-faqs {
  background-image: url(../img/bmwsport3.jpg);
}

.servicio-h1, .servicio-h2 {
  color: #fff;
  font-size: xx-large;
  display: flex;
  justify-content: center;
  text-align: center;
  margin-top: 15rem;
  font-family: sans-serif;
  font-weight: 900;
}

.sucursales-header {
  background-image: url(../img/background.header3.jpeg);
}

.motos-header {
  background-image: url(../img/background6.jpeg);
}

.contacto-header {
  background-image: url(../img/background7.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: bottom;
  object-position: center;
  height: 98vh;
  position: relative;
  margin: top;
}

.contenedor-inferior-header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: absolute;
  bottom: 0%;
  gap: 2rem;
  max-width: 40rem;
  margin: 3%;
}

.contenedor-inferior-header-contacto {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-direction: unset;
  height: 20%;
  position: absolute;
  bottom: 50%;
  max-width: 30rem;
  margin: 2rem;
}

.navegacion-superior ul li a {
  color: #fff;
  text-decoration: none;
  font-size: large;
  font-weight: 800;
  margin-right: 1rem;
}

.index-parrafoheader {
  color: rgb(247, 247, 247);
  width: 100%;
  text-align: left;
  font-size: x-large;
}

.index-h1-contacto, .index-h1 {
  font-family: fantasy;
  font-weight: 400;
  font-style: italic;
}

.index-h1-contacto {
  text-decoration: underline;
  margin: initial;
}

.btn-header {
  width: 15rem;
  font-weight: 900;
  font-size: large;
  padding: 12px 32px;
  border-bottom-color: rgb(49, 48, 48);
  cursor: pointer;
}

.contenedor-inferior-header-motos {
  display: flex;
  flex-direction: column;
  position: absolute;
  height: 50%;
  bottom: 0%;
  margin: 2rem;
}

.contenedor-inferior-header-motos h1, .contenedor-inferior-header-motos p {
  max-width: 30rem;
}

.Titulo-call {
  display: flex;
  flex-direction: column;
  position: absolute;
  height: 50%;
  bottom: 0%;
  margin: 2rem;
}

.callme {
  margin: 2rem;
  position: absolute;
  height: 16%;
  bottom: 0%;
  right: 30%;
}

.call {
  width: 5rem;
  position: absolute;
  bottom: 0%;
  right: 0%;
  margin: 3rem;
  border-radius: 1rem;
  filter: brightness(0.6);
}

/* Estilos Main */
.sucursales-titulo {
  text-align: center;
  color: #fff;
  margin: 0%;
  background-color: #1a135c;
  width: 100%;
}

.iframe-container {
  width: 90%;
  margin: 1rem;
}

.horario-container {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  text-align: center;
  margin: 5rem;
}

.index-main, .main-index, .main-faqs {
  background-color: #1a135c;
  margin: 0rem;
}

.main-contacto {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-content: space-around;
  background-image: url(/img/background8.jpg);
  background-position: center;
  background-repeat: no-repeat;
  object-position: center;
  background-size: cover;
}

.titulo-main-contacto {
  margin: 2rem;
  text-align: center;
  width: 100%;
  font-weight: 900;
  font-size: xxx-large;
  font-family: fantasy;
  padding: 1rem;
  color: rgb(17, 2, 102);
}

.row-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8rem;
}

.row-btn {
  background-color: #1a135c;
  border: 0cap;
  color: white;
  text-align: left;
  text-decoration: none;
  font-size: x-large;
  cursor: pointer;
  width: 20rem;
  height: 50px;
}

.card-contacto {
  display: flex;
  justify-content: center;
  text-align: center;
}

.nuestrasmotos-titulo {
  font-family: sans-serif;
  text-align: center;
  text-decoration-style: solid;
  width: 100%;
  font-weight: 800;
  font-size: xx-large;
  color: #fff;
  padding: 1rem;
}

.galeria-titulo {
  color: #fff;
  text-align: center;
  width: 100%;
  font-weight: 900;
  font-size: xxx-large;
  font-family: sans-serif;
  padding: 1rem;
}

.nuestrasmotos-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 1rem;
  padding: 1rem;
}

.card-auto {
  width: 25rem;
  background-color: rgba(228, 231, 233, 0.801);
  padding: 1rem;
  border-color: rgb(24, 23, 23);
  box-shadow: 0 5px 10px #000;
}

.card-auto img {
  width: 100%;
  height: 15rem;
}

.card-auto-precio {
  color: rgba(20, 94, 25, 0.76);
  font-weight: bold;
}

.card-auto-precio span {
  text-decoration: line-through;
  color: rgb(17, 8, 8);
}

.card-auto-btn {
  width: 100%;
  padding: 1%;
  background-color: rgb(70, 124, 185);
  color: #fff;
  font-weight: 400;
  text-transform: uppercase;
  cursor: pointer;
}

.card-auto-btn:hover {
  background-color: rgba(20, 94, 25, 0.76);
}

.carousel-fotos {
  width: 100%;
  height: 30rem;
  object-fit: contain;
}

.card-contacto {
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 1rem;
  margin: 3rem;
}

.card-body {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  font-weight: 800;
  background-color: #fff;
}

.card-body-faqs {
  background-color: #1a135c;
}

.card-body-faqs:hover {
  background-color: rgb(1, 63, 104);
}

.card {
  border-color: gray;
}

/*footer*/
footer {
  background-color: rgb(0, 0, 0);
  height: 10rem;
}

.footer-container-flex {
  color: #fff;
  height: 2rem;
}

.parent {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  color: #fff;
}

.div1 {
  grid-area: 1/1/2/4;
  background-image: linear-gradient(to right, rgb(16, 81, 202), rgb(125, 181, 245));
}

.div2 {
  grid-area: 2/1/3/4;
  background-image: linear-gradient(to right, rgb(3, 3, 90), rgb(54, 118, 155));
}

.div3 {
  grid-area: 3/1/4/4;
  background-image: linear-gradient(to right, red, rgb(245, 169, 169));
}

@media only screen and (min-width: 900px) {
  ul, .index-header-flex {
    flex-wrap: nowrap;
  }
  .collapse {
    background-color: rgba(0, 0, 0, 0.2) !important;
  }
  .galeria-titulo {
    width: 100%;
  }
  .div1 {
    grid-area: 1/1/2/4;
    background-color: rgb(16, 81, 202);
  }
  .div2 {
    grid-area: 2/1/3/4;
    background-color: rgb(3, 3, 90);
  }
  .div3 {
    grid-area: 3/1/4/4;
    background-color: red;
  }
  .contenedor-inferior-header-motos, .contenedor-inferior-header {
    margin-left: 2rem;
  }
  .sucursale-main-container {
    flex-direction: row;
    justify-content: center;
  }
  .titulo-main-contacto {
    margin: 2rem;
  }
  .call {
    width: 5rem;
    height: 5rem;
    border-radius: 1rem;
  }
  .Titulo-call {
    margin: 3rem;
    height: 45%;
  }
  .callme {
    height: 9%;
    bottom: 0%;
    right: 10%;
  }
  .iframe-container {
    width: 50%;
  }
  .contenedor-inferior-header-contacto {
    margin: 3rem;
  }
  .card-contacto {
    display: flex;
    padding: 2rem;
    flex-direction: row;
    gap: 3rem;
    margin: 0rem;
    width: 100%;
  }
  .row-btn {
    width: 100rem;
  }
}
* {
  font-family: "Cabin", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul {
  list-style: none;
  gap: 2rem;
}

.oscurecer-fondo {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.767);
}

/*# sourceMappingURL=style.css.map */
