/* Estilos Header */
.logotipo{
  width: 3rem;
  height: 5rem;

}


.motos-header,.index-header,.sucursales-header{
  background-image: url(../img/background2.jpeg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  object-position: center;

  height: 90vh;
  position: relative;
  
}

.sucursales-header{
  background-image: url(../img/background.header3.jpeg);
}

.motos-header{
  background-image: url(../img/background6.jpeg);
}

.contacto-header{
  background-image: url(../img/background7.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position:bottom;
  object-position: center;
  height: 98vh;
  position: relative;
  margin: top;


}

.contenedor-inferior-header{
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: absolute;
  bottom: 0%;
  gap: 2rem;
  max-width: 40rem;
  margin: 3%;
  
}
.contenedor-inferior-header-contacto{
  display: flex;
  flex-direction: unset;
  justify-content: center;
  position: absolute;
  bottom: 50%;
  max-width: 30rem;
  margin: 7%;
  
}

.navegacion-superior ul li a{
  color: $colorblanco;
  text-decoration: none;
  font-size: large;
  font-weight: 800;
  margin-right: 1rem;
  
}
.index-parrafoheader{
  color: rgb(247, 247, 247);
  width: 100%;
  text-align: justify;
  font-size: x-large;
 
}
.index-h1-contacto,.index-h1{
  color: $colorblanco;
  font-family: "Changa one", sans-serif;
  font-weight: 400;
  font-style: italic;
}

.index-h1-contacto{
  text-decoration: underline;
  margin: initial;
}
.btn-header{
  width: 15rem;
  font-weight: 900;
  font-size: large;
  padding: 12px 32px;
  border-bottom-color: rgb(49, 48, 48);
  cursor: pointer;
}

.contenedor-inferior-header-motos{
 display: flex;
 flex-direction: column;
 position:absolute;
 height: 50%;
 bottom: 0%;
 margin: 2rem;
 

}



.contenedor-inferior-header-motos h1,.contenedor-inferior-header-motos p {
 max-width: 30rem;
}
