/* Estilos Header */
.logotipo{
  width: 3rem;
  height: 5rem;

}



.navbar{
  background-color: rgb(0, 0, 0) !important;
 

}

.collapse{
  background-color: rgba(0, 0, 0, 0.9);
  margin-top: 0%;
  padding: 0.5rem;

}




.motos-header, .index-header, .index-header-faqs, .sucursales-header{
  background-image: url(../img/background2.jpeg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  object-position: center;

  height: 90vh;
  position: relative;
  
}

.index-header-faqs{
  background-image: url(../img/bmwsport3.jpg)
  
}

.servicio-h1, .servicio-h2{
  color: #fff;
  font-size: xx-large;
  display: flex;
  justify-content: center;
  text-align: center;
  margin-top: 15rem;
  font-family: sans-serif;
  font-weight: 900;
}



.sucursales-header{
  background-image: url(../img/background.header3.jpeg);
}

.motos-header{
  background-image: url(../img/background6.jpeg);
}

.contacto-header{
  background-image: url(../img/background7.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position:bottom;
  object-position: center;
  height: 98vh;
  position: relative;
  margin: top;


}

.contenedor-inferior-header{
  @include flexmixin;
  position: absolute;
  bottom: 0%;
  gap: 2rem;
  max-width: 40rem;
  margin: 3%;
  
}
.contenedor-inferior-header-contacto{
  @include flexmixin;
  flex-direction: unset;
  height: 20%;
  position: absolute;
  bottom: 50%;
  max-width: 30rem;
  margin: 2rem;
  
}

.navegacion-superior ul li a{
  color: $colorblanco;
  text-decoration: none;
  font-size: large;
  font-weight: 800;
  margin-right: 1rem;
  
}
.index-parrafoheader{
  color: rgb(247, 247, 247);
  width: 100%;
  text-align: left;
  font-size: x-large;
 
}
.index-h1-contacto,.index-h1{
  font-family: fantasy;
  font-weight: 400;
  font-style: italic;

}

.index-h1-contacto{
  text-decoration: underline;
  margin: initial;
}
.btn-header{
  width: 15rem;
  font-weight: 900;
  font-size: large;
  padding: 12px 32px;
  border-bottom-color: rgb(49, 48, 48);
  cursor: pointer;
}

.contenedor-inferior-header-motos{
 display: flex;
 flex-direction: column;
 position:absolute;
 height: 50%;
 bottom: 0%;
 margin: 2rem;
 

}



.contenedor-inferior-header-motos h1,.contenedor-inferior-header-motos p {
 max-width: 30rem;
}


.Titulo-call{
 display: flex;
 flex-direction: column;
 position:absolute;
 height: 50%;
 bottom: 0%;
 margin: 2rem

}


.callme{
 margin: 2rem;
 position:absolute;
 height: 16%;
 bottom: 0%;
 right: 30%;
 
 
}



.call{
  width: 5rem;
  position: absolute;
  bottom: 0%;
  right: 0%;
  margin: 3rem;
  border-radius: 1rem;
  filter: brightness(0.6);
 

}